@import '~@nti/style-common';

$CUSTOM_RANGES: (
	mobile: (null, 736px)
);

.search-context-indicator {
	padding: 1.5rem 0;
	box-shadow: 0 1px 0 0 var(--border-grey-light);

	@include responsive-range(mobile, $CUSTOM_RANGES) {
		box-shadow: none;
	}

	.back {
		font: normal 300 0.875rem/1.4 $body-font-family;
		margin-bottom: 0.75rem;
		cursor: pointer;

		i {
			font-size: 0.75rem;
		}
	}

	.results-for {
		font: normal 300 2.25rem/1.4 $body-font-family;
		color: var(--primary-grey);

		@include responsive-range(mobile, $CUSTOM_RANGES) {
			font: normal 300 1.6rem/1.4 $body-font-family;
		}
	}
}
